<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/chedliweldi" version="1.0.0" viewmodes="maximized">
    <tizen:application id="8CcoYyG4di.chedliweldi" package="8CcoYyG4di" required_version="3.0"/>
    <content src="home.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>chedliweldi</name>
    <tizen:profile name="mobile"/>
</widget>
